.group-products {
  overflow-x: hidden;
}
.group-products__render {
  display: flex;
  gap: 20px;
  /* transform: translateX(-400px); */
  transition: 0.3s;
}

.group-products__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.group-products__info h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.group-products__info button {
  position: relative;
  background-color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  border: none;
  padding-bottom: 5px;
}

.group-products__info button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;
  background-color: black;

  transition: 0.4s;
}

.group-products__info button:hover::before {
  background-color: red;
}
.group-products__item img {
  width: 310px;
  max-height: 420px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  
}
.group-products__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.group-products__info-product {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 25px;
  position: relative;
}
/* .group-products__item:hover {
  box-shadow: ;
} */
.group-products__price {
  color: var(--price);
}
.group-products__add-product {
  opacity: 0;
  position: absolute;
  width: 195px;
  height: 37px;
  padding: 0;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.group-products__add-product::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../../images/icons/ion_cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.group-products__item:hover .group-products__add-product {
  opacity: 1;
}

/* Кнопки слайдера */
.group-products__render-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.group-products__dots {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #d3d3d3;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.activeDots {
  background-color: #4a4a4a;
}
