:root {
  --color-primary: #4f46e5;
  --color-text: #222;
  --container: 1200px;
  --baseTitle: #272727;
  --baseGray: #3a3a3a;
  --bgTransparentBlue: #edf1f3;
   --price: #72AEC8;
    --bgSectionBredcrumbs: #EDF1F3;
}
