.shop{
    width: 100%;
}
.shop__produts{
    display: flex;
    margin-top: 120px;
    width: 100%;
    justify-content: space-between;
}
.shop__list{
    display: grid;
    width: 970px;
    gap: 20px;
    grid-template-columns: repeat(3 , 1fr);
}

.shop__filters{
    width: 290px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

.shop__filters-gropup{
    display: flex;
    flex-direction: column;
}
.shop__filters-gropup h5{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--baseTitle);
    font-weight: 400;
    text-decoration: underline;
}
.shop__render-filterCategories , .shop__render-filterTags , .shop__render-filterBrands{
    display: flex;
    flex-direction: column; 
    gap: 7px;
    padding-top: 10px;
}

.shop__render-item{
    cursor: pointer;
}
.shop__render-item:hover {
    color: var(--price);
}

/* .shop__render-filterTags{
    display: flex;
    flex-direction: column;
    gap: 10px;
} */